@import './variables.scss';

@mixin transition {
  transition: all 200ms;
  transition-delay: all 200ms;
}

@mixin media($size) {
  $mediaSize: map-get($brakpoints, $size);
  @media only screen and (min-width: $mediaSize) {
    @content;
  }
}

@mixin baseComponentStyle {
  color: var(--color-text);
  background-color: var(--color-element);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  font-weight: var(--fw-light);
}
