:root  {
  --size-mobile: 375px;
  --size-desktop: 1440px;

  --base-font-size: 14px;
  --detail-page-fontsize: 16px;
}

body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
