@import '../../helper/mixins.scss';

.Search {
  @include transition;
  @include baseComponentStyle;

  display: flex;
  align-items: center;
  padding: 1rem 1.4rem;
  color: var(--color-input);
  width: calc(100% - 3rem);

  @include media('tablet') {
    width: auto;
  }

  svg {
    flex-grow: 0;
    margin-right: 1rem;
    color: inherit;
  }

  input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    color: inherit;
  }
  ::placeholder {
    color: inherit;
  }
}
